.env
__pycache__/
.vscode/
*.ipynb_checkpoints/
*.log
venv/

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Data folders
data/


# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
.env
*.session